<h1>
{{ lock }}
</h1>
<code></code><a href="{% url 'details_lock' lock.id %}">link {{ lock }}</a></code>


<pre>
id: {{ lock.id }}
name: {{ lock.name }}
description: {{ lock.description }}
is_enabled: {{ lock.is_enabled }}
</pre>

<code>
<h3>Persons:</h3>
{% for person in lock.custom_all_persons %}
<li><a href="{{person.get_absolute_url}}"> {{ person.name }}</a>, {{ person.is_enabled }}, {{ person.email }}</li>
{% endfor %}

<h3>Groups:</h3>
{% for group in lock.group_set.all %}
<li>{{ group.name }}, {{ group.is_enabled }}, {{ group.description }} [ {% for lock in group.access.all %} {{ lock.name }} {% endfor %} ] </li>
{% endfor %}


<h3>Keys:</h3>
{% for key in lock.custom_all_keys %}
    <li><code>{{ key.hwid }}</code> {{ key.is_enabled }}, {{ key.description }}, {{ key.last_seen|date:"Y-m-d H:m:s"  }}/{{ key.precision }}   </li>
{% endfor %}


<h3>Sync:</h3>

is_out_of_sync: {{ lock.is_out_of_sync }} <br>
config time: {{ lock.synclockkeys.config_time }} <br>
last seen: {{ lock.synclockkeys.last_seen }} <br>


{% if not lock.synclockkeys.synchronized %}
<H3>Warning!! Lock is out of sync.</h3><br>

{% if lock.synclockkeys.custom_related_out_of_sync.warning_some_keys_left %}
<h3>Keys not deleted on lock:</h3>
{% for key in lock.synclockkeys.custom_related_out_of_sync.keys_del %}
    <li><code>{{ key.hwid }}</code> {{ key.owner.name }}, {{ key.is_enabled }}, {{ key.description }}, {{ key.last_seen|date:"Y-m-d H:m:s"  }}/{{ key.precision }}   </li>
{% endfor %}

{% for hwid in lock.synclockkeys.custom_related_out_of_sync.orphaned_keys %}
    <li><code>{{ hwid }} (Orphaned Key , not in database any more)</code> </li>
{% endfor %}
{% endif %}

{% if lock.synclockkeys.custom_related_out_of_sync.keys_add %}
<h3>keys not added to the lock:</h3>
{% for key in lock.synclockkeys.custom_related_out_of_sync.keys_add %}
<li><code>{{ key.hwid }}</code> {{ key.owner.name }}, {{ key.is_enabled }}, {{ key.description }}, {{ key.last_seen|date:"Y-m-d H:m:s"  }}/{{ key.precision }}   </li>
{% endfor %}
{% endif %}

{% if lock.synclockkeys.custom_related_out_of_sync.persons %}
<h3>Persons affected:</h3>
{% for person in lock.synclockkeys.custom_related_out_of_sync.persons %}
    <li>{{ person.name }}, {{ person.is_enabled }}, {{ person.email }}</li>
{% endfor %}


{% endif  %}
{% endif  %}

</code>
<br >


<code> <i>It is now {% now "Y-m-d H:m:s" %}</i></code>
