# backpack==0.1
# cleo==0.8.0
Flask==1.1.1
flask-orator==0.2.0
orator==0.9.9
# pendulum==1.5.1
pyaml==16.12.2
PyJWT==1.7.1
simplejson==3.17.0
toml==0.10.0
# Werkzeug==1.0.0
# pi-rc522==2.2.1
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
# secrets==??


# for testing: Flask-Cors
# Flask-Cors==3.0.9

# adafruit beaglebone, replaced by gpiod
#Adafruit-BBIO==1.2.0

# waitress instead of internal web
#waitress==1.4.3

#
#gpiod: apt-get install python3-libgpiod
#