# backpack==0.1
# cleo==0.8.0
Flask==2.3.2
flask-orator==0.2.0
jsonpatch==1.25
orator==0.9.9
# pendulum==1.5.1
pyaml==16.12.2
PyJWT==1.7.1
simplejson==3.17.0
toml==0.10.0
waitress==1.4.3
# Werkzeug==1.0.0
pi-rc522==2.2.1
# for testing: Flask-Cors
Flask-Cors==3.0.9